.Logo{
    margin-left:0;
}
 
 #navbar .Logo{

    float: none;
    text-align: center;
    border-bottom:  #444 dotted 1px;
   
}

.btn-light{
 margin-bottom: 20px;
}

#navbar ul, #navbar ul li{
    float: none;

}
#navbar ul li {

    padding: 5px;
    border-bottom:  #444 dotted 1px;
}
#Home-info{
    height: 500px;
}
#Home-info .info-img{

    display: none;
}

#Home-info .info-content{
    float: none;
   width: 100%;
  min-height:100%;
   margin-bottom: 10px;
    
}
#Home-info .info-content p{
    padding-bottom: 20px;

}
.box{
    float: none;
    width: 100%;
    border-bottom:  #444 dotted 1px;
}
.l-heading{
    text-align: center;
}
#about-info .info-right{
    float: none;
    width: 100%;
    min-height: 100%;
}
#about-info .info-left{

    float:none;
    width:100%;
    min-height: 100%;
   }
   #testimonials{
    height: 700px;

   }
   #testimonials  h2{
    color: #fff;
    text-align: center;
    padding-top: 10px;
   margin-top: 20px;  
    
} #testimonials .testimonial{
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
}
